.trackList {
  background-color: white;
  padding: 0 40px;
  counter-reset: section;
  overflow: auto;
  margin: 0;
}

.trackList li::before {
  color: #9a9b9b;
  font-size: 18px;
  counter-increment: section;
  content: counter(section) ".";
}

.trackList li {
  margin: 20px 0;
}
