.trackList {
  background-color: white;
  padding: 20px;
  counter-reset: section;
}

.trackList li::before {
  color: #9a9b9b;
  font-size: 18px;
  counter-increment: section;
  content: counter(section) ".";
}
