.controlPanel {
  display: flex;
  justify-content: space-evenly;
}

.controlButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.controlPlayButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 250px;
}

.controlButton :active {
  filter: invert(74%) sepia(25%) saturate(6078%) hue-rotate(90deg)
    brightness(97%) contrast(88%);
}

.activeButton {
  filter: invert(74%) sepia(25%) saturate(6078%) hue-rotate(90deg)
    brightness(97%) contrast(88%);
}

.inactibeButtonWrapper {
  height: 260px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
