.controlPanel {
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
}

.controlButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.inactibeButtonWrapper {
  height: 260px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
