.mainPage {
  min-width: 350px;
  max-width: 600px;
  height: 100%;
  background: url("../../../public/bg_image.jpg"), #1b1b1b;
  background-blend-mode: overlay;
}

.gradientLayer {
  height: 100%;
  background: linear-gradient(0deg, #1b1b1b 60%, rgba(27, 27, 27, 0.0001)),
    rgba(27, 27, 27, 0.0001);
}
