header {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controlButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.headerTitleMain {
  display: grid;
  text-align: center;
}

.headerTitlePlaylist {
  display: grid;
  text-align: right;
}

.headerTitlePlaylist span:first-child {
  color: #0fd65a;
}
