/* .headerMain {
  background-color: #1b1b1b;
} */

.controlButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.headerTitleMain {
  display: grid;
  text-align: center;
}
