.mainFooter {
  height: 90px;
  display: flex;
  background-color: #ffffff;
  width: 100%;
  flex-shrink: 0;
}

.mainFooter button {
  width: 20%;
}

.nextSong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.nextSong span {
  margin: 0 10px;
}
