footer {
  height: 90px;
  padding: 0 40px;
  display: flex;
  background-color: #ffffff;
  width: 100%;
  flex-shrink: 0;
}

.nextSong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.nextSong span {
  margin: 0 10px;
}

/* .nextSong li {
  margin: -20px 0;
} */
