footer {
  height: 130px;
  display: flex;
  background-color: #ffffff;
  width: 100%;
  position: static;
  padding: 0 40px;
}

.nextSong {
  display: grid;
  align-content: center;
  width: auto;
}

.nextSong span {
  margin: 0 10px;
}

.nextSong li {
  margin: -10px 0;
}
