.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonLink {
  font-family: "Source Sans Pro", sans-serif;
  margin: 20px;
  border-style: none;
  font-size: 24px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.buttonLink:hover {
  color: rgb(168, 168, 168);
}
