.App {
  width: 540px;
  height: 800px;
  font-family: "Source Sans Pro", sans-serif;
}

.subtitle {
  text-transform: uppercase;
  color: #9a9b9b;
  font-size: 18px;
}

.title {
  font-size: 24px;
}
