.App {
  width: 540px;
  height: 800px;
  font-family: "Source Sans Pro", sans-serif;
}

.subtitle {
  text-transform: uppercase;
  color: #9a9b9b;
  font-size: 18px;
}

.title {
  font-size: 24px;
}

.songInfo {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 64px;
  list-style-position: inside;
}

.songInfoDots {
  flex: 1;
  overflow: hidden;
  letter-spacing: 5px;
}

.iconButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
