.App {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  width: 500px;
  height: 800px;
  position: relative;
}

.subtitle {
  text-transform: uppercase;
  color: #9a9b9b;
  font-size: 1rem;
}

.title {
  font-size: 1.2rem;
  color: white;
}

.songInfo {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  list-style-position: inside;
}

.songInfoDots {
  flex: 1;
  overflow: hidden;
  letter-spacing: 5px;
  color: #9a9b9b;
}

.iconButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
